body,
html {
    width: auto;
    height: 100%;
    margin: 0;
}

#background {
    background-image: url(../../assets/images/underwater-background-image.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

#startMenu {
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.trivia {
    color: white;
    background-color: transparent;
    border-radius: 6px;
    width: 90%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}

.nextButton {
    box-shadow: 3px 3px 5px cornflowerblue;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: aqua;
    color: black;
    font-family: 'Kaushan Script';
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
}

.question {
    font-family: 'Satisfy', cursive;
    font-size: 28px;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
}

input[type=radio] {
    margin-right: 10px;
}

.choiceList {
    font-family: Courier, serif;
    font-size: 20px;
    color: white;
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
}

.questionClass {
    color: white;
    font-family: 'Courgette';
    font-size: 20px;
    text-align: center;
}

.btn-info {
    color: white;
    height: auto;
/*    width: 15%;*/
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Courgette';
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 1px 4px aquamarine;
    border-radius: 6px;
}


/*
#dynamic {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    
}
#lilFact {
    color: white;
    text-align: center;
    font-size: 20px;
}
*/

.result {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px aqua;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    background-color: aquamarine;
    color: black;
    padding: 30px;
}

#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: aqua;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px;
    /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: cornflowerblue;
    box-sizing: border-box;
}
